.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dimension {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.yard {
  position: relative;
  width: 600px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprinkler-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprinkler-number {
  color: white;
}

.table-container {
  max-height: 200px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
